body {
    background-image: url('fundopadel.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif';
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
}

iframe {
    border: 5px solid #fff;
    border-radius: 10px;
    opacity: 0.8;
    width: 90vw;  /* Utiliza 90% da largura da viewport */
    max-width: 639px; /* Limita a largura máxima */
    height: 900px; /* Mantém a altura fixa */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    iframe {
        width: 90vw;  /* Utiliza 90% da largura da viewport */
        max-width: none;  /* Remove a limitação de largura máxima */
        height: 900px; /* Mantém a altura fixa */
    }
}
