body {
    background-image: url('fundopadel.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.logo {
    height: 100%;  /* A altura será ajustada pela altura do pai, que é o header */
    max-height: 3em;  /* Altura máxima do logotipo */
    margin-right: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
    line-height: 1em;  /* A altura da linha será igual ao tamanho da fonte */
}

.iframe-small {
    border: 5px solid #fff;
    border-radius: 10px;
    opacity: 0.8;
    width: 90vw;  /* Utiliza 90% da largura da viewport */
    max-width: 639px; /* Limita a largura máxima */
    height: 250px; /* Mantém a altura fixa específica */
    margin-bottom: 20px; /* Adiciona espaço abaixo do iframe */
}

.iframe-large {
    border: 5px solid #fff;
    border-radius: 10px;
    opacity: 0.8;
    width: 90vw;  /* Utiliza 90% da largura da viewport */
    max-width: 639px; /* Limita a largura máxima */
    height: 900px; /* Mantém a altura fixa específica */
    margin-bottom: 20px; /* Adiciona espaço abaixo do iframe */
}

footer {
    margin-top: auto;  /* Empurra o rodapé para o final da página */
    padding: 10px;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    body {
        height: auto;  /* Ajusta a altura do body para dispositivos móveis */
    }

    h1 {
        font-size: 2em;
    }

    .iframe-small {
        width: 90vw;  /* Utiliza 90% da largura da viewport */
        max-width: 639px;  /* Remove a limitação de largura máxima */
        height: 230px; /* Mantém a altura fixa específica */
        margin-bottom: 20px; /* Adiciona espaço abaixo do iframe */
    }

    .iframe-large {
        width: 90vw;  /* Utiliza 90% da largura da viewport */
        max-width: 639px;  /* Remove a limitação de largura máxima */
        height: 900px; /* Mantém a altura fixa específica */
        margin-bottom: 20px; /* Adiciona espaço abaixo do iframe */
    }

    .logo {
        max-height: 2em;  /* Ajusta a altura máxima do logotipo em telas menores */
    }
}
